body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar{
    grid-row: 1 / 3;
    background-color: dodgerblue;
}

.side-segment{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-weight: bold;
    height: 2rem;
}

.side-segment:first-child{
    font-size: 1.5rem;
}

.side-segment:first-child img{
    width: 40px;
    height: 40px;
}

.side-segment img {
    grid-column: 1 / 2;
    margin: auto;
    filter: invert();
}

.side-segment p{
    color: white;
    grid-column: 2 / 3;
}

.header{
    display: grid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 1px -2px 5px;
    font-weight: 700;
}

.header-top,
.header-bottom{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-top{
    grid-template-columns: 2fr 1fr;
    margin: auto;
}

.topleft{
    display: grid;
    grid-template-columns: 1fr 20fr;
}

.header-bottom {
    grid-template-columns: 2fr 1fr;
}

.topright{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: auto;
    align-items: center;
}

.bottomleft{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
}

.bottomright{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.bottomleft>img{
    justify-self: flex-end;
    width: 4.5rem;
    height: 4.5rem;
}

.bottomleft>div>.text2 {
    font-size: 1.5rem;
}

.article>*{
    padding: 1.5rem;
}

.article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(226, 227, 235);
}

.projects{
    grid-row: 1 / 3;
}

[class*="title"]{
    font-weight: 700;
}

input{
    border-radius: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
    height: 2rem;
    background-color: lightgray;
    border-style: none;
}

button{
    border-radius: 2rem;
    height: 2.5rem;
    width: 80%;
    background-color: dodgerblue;
    color: white;
    border-style: none;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.cards-container>.card{
    border-left: 10px solid rgb(196, 196, 0);
}

.announcements>.card{
    display: grid;
    grid-template-rows: repeat(3, minmax(3rem, 1fr));
    gap: 1.5rem;
    
}

.info-segment>.title {
    font-size: 0.8rem;
}

.info-segment>.info{
    font-size: 0.7rem;
}

.trending>.card>.info-segment{
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem 0;
}


.info-text{
    font-size: 0.8rem;
    padding-left: 1rem;
}

.info{
    color: rgb(76, 76, 76);
}

.card {
    display: flex;
    border-radius: 0.5rem;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0px 0px 2px;
}

.card-top .info{
    font-size: 0.9rem;
}

.card-bottom{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
}

.profile{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.main-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}