body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar{
    grid-row: 1 / 3;
    background-color: dodgerblue;
}

.side-segment{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-weight: bold;
    height: 35px;
}

.side-segment:first-child{
    font-size: 1.5rem;
}

.side-segment:first-child img{
    width: 40px;
    height: 40px;
}

.side-segment img {
    grid-column: 1 / 2;
    margin: auto;
    filter: invert();
}

.side-segment p{
    color: white;
    grid-column: 2 / 3;
}

.header{
    display: grid;
}

.header-top{
    display: grid;
    grid-template-columns: 1fr 10fr 3fr 1fr 2fr;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.header-bottom{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    gap: 20px;
}

.header-bottom:first-child{

}

.header-bottom:nth-child(3) {
    grid-column: 2/3;
}

.article {
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(226, 227, 235);

}

[class*="title"]{
    font-weight: 700;
}

.main-title{
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.info{
    /* color: lightgray; */
}

input{
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    height: 50%;
    background-color: lightgray;
    border-style: none;
}

button{
    border-radius: 30px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border-style: none;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.card{
    display: flex;
    border-radius: 10px;
    border-left: 10px solid rgb(196, 196, 0);
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card-top .info{
    font-size: 0.9rem;
    color: rgb(76, 76, 76);
}

.card-bottom{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}